aiosqlite>=0.21.0
colorlog>=6.9.0
fastapi[standard]>=0.115.12
httpcore==1.0.7
pydantic-settings>=2.9.1
pydantic>=2.0.0
python-dotenv>=1.0.1,<2.0.0
redis>=4.2.0
requests>=2.32.0
sqlalchemy>=2.0.41
sqlmodel>=0.0.24
uvicorn==0.34.0